@import url('../css/fonts.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*applies the "border-b0x" box-sizing model to all elements, which includes padding and border in the element's total width and height*/
}

:root{
    /*----------- theme font-family ---------*/
    --Abel:'Abel', cursive; 
    --Anton:'Anton', cursive;
    --Josefin:'Josefin', cursive;
    --Lexend:'Lexend', cursive;
    --Livvic:'Livvic', cursive;

    /*---------- Theme colors -----------*/
    --text-grey: #3f4954;
    --text-light : #686666da;
    --bg-color: #0f0f0f;
    --white: #ffffff;
    --midnight: #104f55;

}

/* -------- Global Classes --------- */
a {
    text-decoration: none;
    cursor: pointer;
}

section {
    padding: 100px 100px;
}

h1{
    font-family: var(--Lexend);
    font-weight: 700;
}

h2{
    font-family: var(--Anton);
    font-size: 23px;
} 

h3{
    font-family: var(--Abel);
    font-size: 20px;
}

span{
    font-family: var(--Josefin);
}

.btn{
    border: none;
    border-radius: 20px;
    padding: 12px 34px;
    font-family: var(--Livvic);
    cursor: pointer;
}

/* ------x------- Global Classes --------x-------- */

/* ------- Header ---------*/
/*The 'header' block contains styles for the main header of the webpage which is the navigation bar at the top*/
header {
    z-index: 999; /*This sets a high stacking order for the header, ensuring it appears above other elements on the page*/
    position: absolute; /*Positions the header absolutely, making it not to affect the normal document flow*/
    top: 0;
    left: 0;
    width: 100%;
    display: flex;  /*Makes the header a flex container, allowing its child elements to be flex items*/
    justify-content: space-between; /*Distributes the child elements in the header with space between them, pushing them to the edges*/
    align-items: center; /*Centers the child elements vertically within the header*/
    padding: 15px 100px; /*Sets 15px padding on the top and bottom and 100px on th eleft and right inside the header*/
    transition: 0.5s ease;
}

/*The '.menu' class is used to style the navigation menu within the header*/
.menu {
    position: relative; /*positions the menu relatively to its normal position, allowing absolute positioning fo rits child elements*/
}

.title {
    color: #fff; 
}

/*The '.page-nav' class is used to style the navigation links in the header*/
.page-nav {
    display: inline-flex; /*This makes the navigation links inline and flexible, allowing them to be aligned in a row*/
    position: relative; /*This positions the navigation links relatively to their normal position, allowing absolute positioning for their pseudo-elements*/
}

/*The '.page-nav a' styles the individual navigation links*/
.page-nav a {
    position: relative; /*This positions the navigation links relatively to their normal position, allowing absolute positioning for their pseudo-elements*/
    color: #fff;
    font-family: var(--Abel);
    margin-left: 30px;
    transition: 0.3s;
}

/*The '.page-nav a::after' styles the pseudo-element that creates the underline effect when hovering over a link*/
.page-nav a::after{
    content: ""; /*Sets the content of the pseudo-element to an empty string. It is required for the pseudo-element to work*/
    width: 0;
    height: 2px; /*Together with the width property sets the initial width and height of the underline to zero, making it invisible by default*/
    background: #fff;
    display: block; /*Makes the pseudo-element a block-level element, so it spans the full width of the link*/
    margin: auto; /*Centers the pseudo-element horizontally within the link*/
    transition: 0.5s;
}

/*The '.page-nav a:hover::after' styles the pseudo element when hovering over a link*/
.page-nav a:hover::after{
    width: 100%; /*Sets the width of the underline to 100%, making it visible and creating the underline effect*/
}

.nav-btn {
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    display: none;
}

/* -------x--------- Header --------x---------*/

/*-------- Section One ------------*/
/*The '.home' is the main container for section one*/
.home {
    position: relative; /*Sets the container to be positioned relative to its normal position*/
    width: 100%; /*Makes the container span the full width of its parent*/
    min-height: 100vh;
    display: flex; /*Makes the container a flex container, allowing its children to be flex items*/
    flex-direction: column; /*Arranges the flex items vertically in a column*/
    justify-content: center; /*Centers the flex items verically within the container. It takes precedence from the flex-direction: column*/
    background: #2696E9;
}

/*The '.home:before' is a pseudo-element that creates a semi-transparent overlay on top of the background image*/
.home:before{
    z-index: 777;
    content: '';
    position: absolute;
    background: rgba(3, 96, 251, 0.3);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
} 

.home img {
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.info {
    z-index: 888;
    color: #fff;
    width: 70%;
    margin-top: 50px;
    display: none;
}

.info.active {
    display: block;
}

.info h1 {
    font-size: 4em;
    font-weight: 800;
    letter-spacing: 5px;
    line-height: 75px; 
    margin-bottom: 40px;
}

.info h1 span {
    font-size: 1.2em;
    font-weight: 500;
}
.info p {
    font-family: var(--Abel);
    margin-bottom: 25px;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.info a {
    color: #fff;
    font-family: var(--Livvic);
    font-weight: 600;
    font-size: 1.1em;
    border: 2px solid white;
    padding: 10px 20px;
    transition: 1s ease-in-out;
}

.info a:hover{
    border: 2px solid white;
    background: red;
    border-radius: 24px;
}

.social-icons {
    z-index: 888;
    position: absolute;
    right: 50px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
}

.social-icons a {
    color: #fff;
    font-size: 1.6em;
    transition: 0.3s ease;
}

.social-icons a:not(:last-child){
    margin-bottom: 20px;
}

.social-icons a:hover{
    transform: scale(1.3);
}

.slider-navigation {
    z-index: 888;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(80px);
    margin-bottom: 12px;
}
.slide-nav-btn {
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.0.5);
    transition: 0.3s ease;
}
.slide-nav-btn:not(:last-child){
    margin-right: 20px;
}
.slide-nav-btn:hover{
    transform: scale(1.2);
} 
.slide-nav-btn.active{
    background: #2696E9;
}

.image-slide {
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: circle(0% at 0 50%);
}
.image-slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s ease;
    transition-property: clip-path;
}
/*--------x--------- Section One ----------x---------*/

@media (max-width: 1040px){
    header {
        padding: 15px 20px;
    }

    section {
        padding: 100px 20px;
    }
    
    .social-icons {
        right: 25px;
    }
    
    .menu{
        display: none;
    }

    .menu.active{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(1, 1, 1, 0.5);
    }
    
    .page-nav a {
        color: #222;
        margin: 20px;
    }
    
    .page-nav {
        background: #fff;
        width: 600px;
        max-width: 600px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
    }

    .page-nav a::after{
        content: "";
        width: 0;
        height: 2px;
        background: #222;
        display: block;
        margin: auto;
        transition: 0.5s;
    }
    .page-nav a:hover::after{
        width: 100%;
    }

    .nav-btn {
        display: block;
    }

    .rel{
        position: absolute;
        width: 100%;
        top: 0;
        left: 0 ;
        padding: 18px 20px;
        display: flex;
        justify-content: flex-end;
    }

    .hide{
        display: none;
    }
    
    
} 